:root {
  --white: #e6e6e6;
  --black: rgb(0, 0, 0);
  --gray1:rgb(20, 20, 20);
  --gray2: rgb(35, 35, 35);
  --gray3: rgb(50, 50, 50);
  --yellow: #fca311;
}

body {
  background-color: var(--gray1);
}

.text {
  line-height: 100%;
  font-weight: 500;
}
.title {
  line-height: 100%;
  font-weight: 700;
  text-transform: uppercase;
}

.white {
  color: var(--white);
}

.black {
  color: var(--black);
}
.rounded {
  border-radius: 8px;
}